
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 800px;
}
html{
  overflow-y: scroll;
}
#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 1104px;
  margin-left: auto;
  margin-right: auto;
}
#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 720px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 240px;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 25px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  width: 940px;
  min-width: 920px;
}
#comic-nav.b-selector .pager li{
	height: 25px;
}
#nav-comic .nid{
	display: none;
	height: 0;
}
#comic-nav-handle{
	float: left;
	margin-left: 7px;
}
#comic-nav.b-selector li{
	height: 100px;
	display: block;
}
#comic-nav.b-selector ul{
	position: static;
	top: 0;
	height: 25px;
}
#comic-nav.b-selector .pager li{
	width: 46px;
	height: 25px;
	float: left;
}
#comic-nav.b-selector li.pager{
	height: 25px;
	overflow: hide;
}
.b-selector a:link,
.b-selector a:link:visited,
.b-selector a:link:active {
	color: white!important;
	padding: 0;
}
#custom-menu span:hover {
	transition: height 1s;
	-moz-transition: height 1s; /* Firefox 4 */
	-webkit-transition: height 1s; /* Safari and Chrome */
	-o-transition: height 1s; /* Opera */
}
#custom-menu span:hover {
	height:30px;
}