
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 800px;
}
html{
  overflow-y: scroll;
}
#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}
#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 720px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 240px;
}
#main-wrapper {
  min-height: 300px;
}
#content .section,
.sidebar .section {
  padding: 0 15px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding: 25px 5px 30px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  width: 940px;
  min-width: 920px;
}
#comic-nav.b-selector .pager li{
	height: 25px;
}
#comic-nav .nid{
	display: none;
	height: 0;
}
#comic-nav .li1 .field_cover img{
	-webkit-transform: rotate(352deg);
}
#comic-nav .li2 .field_cover img{
	-webkit-transform: rotate(15deg);
}
#comic-nav .li3 .field_cover img{
	-webkit-transform: rotate(356deg);
}
#comic-nav .li4 .field_cover img{
	-webkit-transform: rotate(6deg);
}
#comic-nav .li5 .field_cover img{
	-webkit-transform: rotate(358deg);
}
#comic-nav .li6 .field_cover img{
	-webkit-transform: rotate(14deg);
}
#comic-nav-handle{
	float: left;
	margin-left: 7px;
}
#comic-nav.b-selector li{
	height: 100px;
	display: block;
}
#comic-nav.b-selector ul{
	position: static;
	top: 0;
	height: 25px;
}
#comic-nav.b-selector .pager li{
	width: 46px;
	height: 25px;
	float: left;
}

#comic-nav.b-selector ul.pager{
	padding-left: 0;
	padding-right: 0;
}
#comic-nav.b-selector li.pager{
	height: 25px;
	overflow: hide;
}
.b-selector a:link,
.b-selector a:link:visited,
.b-selector a:link:active {
	color: white;
	padding: 0;
}
#custom-menu span.b-current:hover {
	transition: height 1s;
	-moz-transition: height 1s; /* Firefox 4 */
	-webkit-transition: height 1s; /* Safari and Chrome */
	-o-transition: height 1s; /* Opera */
	height:30px;
}
.field_cover{
	display: block;
	text-align: center;
}
#comic-nav img{
	border: 3px solid #EEE;
	border-width: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgb(85, 85, 85) 3px 5px 5px;
	box-shadow: rgb(85, 85, 85) 3px 5px 5px;
}
#comic-nav.fade img{
	opacity: 0.4;
}
#comic-nav .selected img:hover{
	opacity: 1;
	border-width: 6px;
	border-radius: 10px;
	-webkit-box-shadow: rgb(85, 85, 85) 3px 5px 5px;
	box-shadow: rgb(85, 85, 85) 3px 5px 5px;
	animation-name: border-grow;
	animation-duration: 0.25s;
	animation-timing-function: linear;
	/* Firefox: */
	-moz-animation-name: border-grow;
	-moz-animation-duration: 0.25s;
	-moz-animation-timing-function: linear;
	/* Safari and Chrome: */
	-webkit-animation-name: border-grow;
	-webkit-animation-duration: 0.25s;
	-webkit-animation-timing-function: linear;
}
@keyframes border-grow
{
0%   {	border-width: 3px;}
100%  {	border-width: 6px;}
}

@-moz-keyframes border-grow /* Firefox */
{
0%   {	border-width: 3px;}
100%  {	border-width: 6px;}
}

@-webkit-keyframes border-grow /* Safari and Chrome */
{
0%   {	border-width: 3px;}
100%  {	border-width: 6px;}
}
#comic-nav span div{
	opacity: 1;
	background-color: #000000;
	text-shadow: none;
}
#comic-nav .title, #comic-nav .body{
	position: relative;
	background-color: #000000;
	top: -100px;
	left: 0px;
	width: 200px;
	height: 0px;
	padding-left: 196px;
	display: block;
	opacity: 0;
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
#comic-nav .title div, #comic-nav .body div{
	margin:0;
	padding: 5px;
	border-radius: 4px;
	color: #FFFFFF;
}
#comic-nav .body{
	top: -80px;
	text-shadow: 0 1px 0px #378ab4;
	color: black;
}
#comic-nav .selected .title, #comic-nav .selected .body{
	opacity: 1;
}
#magazine{
	float: right;
}